.header-bottom {
    display: inline-flex;  
    position: fixed;
    justify-content: center;
    height: 10vh;
    width: 100%;
    top: 0;
    z-index: 1;
    background: #4f4f4f;
    color: black;

    &:hover{
        height: 15vh;

        & > .button{
            & > h1{
                display: flex;
                position: relative;
                font-size: 20px;
                border-right: 2px solid black;
                width: 7rem;
            }

           & > a > button{
            visibility: visible;
           }
        }
    }
            & > .button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                flex-direction: row;
                margin-left: 3px;
                width: 80%;

                & > h1{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    font-weight: 900;
                    font-size: 3.5rem;
                }

                & > a {
                    text-decoration: none;

                    & > button{
                        display: flex;
                        border: none;
                        color: black;
                        font-family: "Playwrite DE VA", cursive;
                        font-size: 15px;
                        font-weight: 600;
                        width: 7rem;
                        align-items: center;
                        justify-content: center;
                        gap: 3px;
                        visibility: hidden;
                        background-color: transparent;

                        &:hover{
                            transform: scale(1.1);
                            background-color: rgba(128, 128, 128, 0.418);
                            box-shadow: 1px 1px 10px rgb(133, 131, 131), -1px -1px 10px rgb(133, 131, 131);
                        }
                    }
                }
        }
}

.section1{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    gap: 4rem; 
    margin-top: 10vh;
    background-image: url(../img/lavame2-9.jpg);
    background-size: cover;
    background-position: center;

    & > .container{
        display: flex;
        flex-direction: row;
        gap: 4rem;
        padding: 10px;
        width: 100%;
        align-items: center;
    
        & > .card1{
            display: flex;
            justify-content: end;
            width: 15rem;
            height: 90vh;
            border-radius: 20px;
            border: none;
            background-image: url(../img/effect_pic1\ \(1\).jpg);
            background-size: cover;
            cursor: pointer;
            transition-duration: 0.4s;    
            animation: hue 5s infinite;

            &:hover{
                box-shadow: 10px 10px 15px rgb(4, 231, 4);
                width: 24rem;
                height: 100vh;
            
                
                & > .feature{
                    transition: 0.3s ease;
                    transform: translateY(-20px);
                    visibility: visible;
                }
            }

            & > .feature{
                display: flex;
                color: white;
                justify-content: center;
                align-items: center;
                z-index: 3;
                visibility: hidden;
                margin-left: 10px;
    
                & > p{
                    transform: translateY(200px);
                    font-family: "Playwrite DE VA", cursive;  
                    font-size: 18px;  
                    font-weight: 500; 
                    padding: 10px; 

                    & > b{
                        font-size: 2rem;
                    }
                }
            }
        }
    
            & > .card2{
                display: flex;
                justify-content: end;
                width: 15rem;
                height: 90vh;
                border-radius: 20px;
                border: none;
                background-image: url(../img//effect_pic2\ \(1\).jpg);
                background-size: cover;
                cursor: pointer;
                animation: glow 5s infinite;
                transition-duration: 0.4s;    
                animation: hue 5s infinite;

                &:hover{
                    box-shadow: 10px 10px 15px rgb(4, 231, 4);
                    width: 24rem;
                    height: 100vh;

                    & > .feature{
                        transition: 0.3s ease;
                        transform: translateY(-20px);
                        visibility: visible;
                    }
                }

                & > .feature{
                    display: flex;
                    color: white;
                    justify-content: center;
                    align-items: center;
                    z-index: 3;
                    visibility: hidden;
                    margin-left: 10px;
        
                    & > p{
                        transform: translateY(200px);
                        font-family: "Playwrite DE VA", cursive;  
                        font-size: 18px;  
                        font-weight: 500; 
                        padding: 10px; 
                        
                        & > b{
                            font-size: 2rem;
                        }
                    }
                }
            }

                & > .card3{
                    display: flex;
                    justify-content: end;
                    width: 15rem;
                    height: 90vh;
                    border-radius: 20px;
                    border: none;
                    background-image: url(../img/effect_pic3\ \(1\).jpg);
                    background-size: cover;
                    cursor: pointer;
                    animation: glow 5s infinite;
                    transition-duration: 0.4s;    
                    animation: hue 5s infinite;

                    &:hover{
                        box-shadow: 10px 10px 15px rgb(4, 231, 4);
                        width: 24rem;
                        height: 100vh;
                        
                        & > .feature{
                            transition: 0.3s ease;
                            transform: translateY(-20px);
                            visibility: visible;
                        }
                    }

                    & > .feature{
                        display: flex;
                        color: white;
                        justify-content: center;
                        align-items: center;
                        z-index: 3;
                        visibility: hidden;
                        margin-left: 10px;
            
                        & > p{
                            transform: translateY(200px);
                            font-family: "Playwrite DE VA", cursive;  
                            font-size: 18px;  
                            font-weight: 500; 
                            padding: 10px; 

                            & > b{
                                font-size: 2rem;
                            }
                        }
                    }
                }
            
                    & > .card4{
                        display: flex;
                        justify-content: end;
                        width: 15rem;
                        height: 90vh;
                        border-radius: 20px;
                        border: none;
                        background-image: url(../img/effect_pic4\ \(1\).jpg);
                        background-size: cover;
                        cursor: pointer;
                        animation: glow 5s infinite;
                        transition-duration: 0.4s;    
                        animation: hue 5s infinite;

                        &:hover{
                            box-shadow: 10px 10px 15px rgb(4, 231, 4);
                            width: 24rem;
                            height: 100vh;
                            
                            & > .feature{
                                transition: 0.3s ease;
                                transform: translateY(-20px);
                                visibility: visible;
                            }
                        }
                        
                        & > .feature{
                            display: flex;
                            color: white;
                            justify-content: center;
                            align-items: center;
                            z-index: 3;
                            visibility: hidden;
                            margin-left: 10px;
                
                            & > p{
                                transform: translateY(200px);
                                font-family: "Playwrite DE VA", cursive;  
                                font-size: 18px;  
                                font-weight: 500; 
                                padding: 10px; 

                                & > b{
                                    font-size: 2rem;
                                }
                            }
                        }
                }
     }
}

.section2{
    display: flex;
    flex-direction: row;
    height: 110vh;
    background-color: violet;

    & > .container1{
        display: flex;
        width: 50%;

        & > img {
            animation: guitar 6s infinite;
            height: 100vh;
        }
    }

    & > .container2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        padding: 20px;

        & > h1{
            font-weight: 900;
            color: aquamarine;
            font-size: 4rem;
        }

        & > p{
            color: purple;
            font-size: 1.5rem;
            font-weight: 700;

            & > b{
                font-size: 2rem;
                color: purple;
            }
        }
       
    }
}

@keyframes guitar {
    0%{
    
    }
    50%{
        transform: translateY(-30px);
        filter: hue-rotate(180deg);
    }
    100%{

    } 
}

.section3{
    display: flex;
    height: 50vh;
    align-items: center;
    padding: 4rem;
    text-align: center;
    background-image: url(../img/tianmei.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

.section4{
    display: flex;
    flex-direction: column;
    height: 150vh;
    width: 100%;
    align-items: center;
    background-image: url(../img/fas.jpg);
    background-size: cover;
    background-position: center;
    justify-content: space-evenly;
    animation: hue 5s infinite;
    border-top: 3px solid white;

    & > .container-left1{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;    

    & > .holder{
        display: flex;
        align-items: center;
        height: 40vh;
        width: 30rem;
        border-radius: 30px;
        background-image: url(../img/gold2-right2.jpg);
        background-position: center;
        background-size: cover;
        margin-left: 20px;
        box-shadow: 1px 1px 15px violet, -1px -1px 15px violet;

        & > img{
            display: flex;
            height: 40vh;
        }

    }

    & > .top{
        display: flex;
        background-color: palevioletred;
        color: palegreen;
        width: 10%;
        height: 35vh;
        border-radius: 0px 30px 30px 0px;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        box-shadow: 1px 1px 15px rgb(231, 229, 229), -1px -1px 15px rgb(231, 229, 229);
        animation: top 5s infinite;

        & > h1{
            display: flex;
            text-align: center;
            font-size: 2rem;
            font-weight: 900;
        }

        & > p{
           visibility: hidden;
        }

        &:hover{
            width: 50%;

            & > p{
                visibility: visible;
            }
            & > h1{
                font-size: 4rem;
        }
        }

    }
}
    & > .container-right1{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: right;
        
        & > .holder{
            display: flex;
            align-items: center;
            height: 40vh;
            width: 30rem;
            border-radius: 30px;
            background-image: url(../img/hilava-img.webp);
            background-position: center;
            background-size: cover;
            box-shadow: 1px 1px 15px violet, -1px -1px 15px violet;

            & > img{
                display: flex;
                height: 40vh;
            }
        }
        
        & > .top{
            display: flex;
            width: 15%;
            height: 35vh;
            border-radius: 30px 0px 0px 30px;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            box-shadow: 1px 1px 15px rgb(231, 229, 229), -1px -1px 15px rgb(231, 229, 229);
            animation: top 5s infinite;
            background-color: palevioletred;
            color: palegreen;


            & > h1{
                display: flex;
                text-align: center;
                font-size: 2rem;
                font-weight: 900;
                margin-top: 30px;
            }
    
            & > p{
               visibility: hidden;
            }
    
            &:hover{
                width: 50%;


                & > p{
                    visibility: visible;
                }
                & > h1{
                    margin-top: 0;
                    font-size: 4rem;
                }
            }
        }
            
    }
    
    & > .container-head{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white; 
           
        & > h1{
            color: palegreen;
            font-weight: 900;
            font-size: 5rem;
        }
         
        & > p{
            color: palegreen;
            font-size: 20px;
            word-spacing: 2px;
            font-weight: 600;
        }  
    }
}

@keyframes hue {
    0%{

    }
    50%{
        filter: hue-rotate(180deg);
    }
    100%{
    } 
}

@keyframes top {
    0%{

    }
    50%{
        box-shadow: 1px 1px 15px violet, -1px -1px 15px violet;
    }
    100%{
    }
    
}

.section5{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image:url(../img/threepersons.webp);
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 2px solid wheat;
   
    & > .container1{
        display: flex;
        align-items: center;
        text-align: center;   
        color: wheat;
        width: 70%;

        & > h1{
            display: flex;
            font-weight: 900;
            font-size: 4rem;
        }
    }
}

.section6{
    display: flex;
    height: 120vh;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    gap: 2rem;
    background-image: url(../img/lavame2-9.jpg);

    & > .holder{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        box-shadow: 1px 1px 15px rgb(231, 229, 229), -1px -1px 15px rgb(231, 229, 229);
        height: 110vh;
        padding: 20px;
        border-radius: 20px;
        background-color: whitesmoke;

        & > .container1{
            display: flex;
            justify-content: center;
            height: 60vh;

            & > img {
                height: 55vh;
                border-radius: 20px;
            }
        }

        & > .container2{
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            height: 40vh;
            gap: 2rem;

            & > h1{
                font-size: 3rem;
                font-weight: 900;
            }

            & > h4{
                font-size: 1.3rem;
            }
        }
        
    }
}

.section7{
    display: flex;
    height: 230vh;
    flex-direction: column;
    gap: 2rem;

    & > .container1{
        display: flex;
        height: 400vh;
        flex-direction: column;
        width: 100%;


        & > .top{
            display: flex;
            flex-direction: row;

            & > .left{
                display: flex;
                justify-content: left;

                & > img{
                    height: 100vh;
                }
            }
              
            & > .right{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 30%;
                height: 100vh;
                align-items: flex-start;

                & > img{
                    height: 20vh;
                    animation: float 4s infinite;
                }

                & > h1{
                    font-weight: 900;
                    background: linear-gradient(to right,  rgb(170, 253, 2) 0%, #121FCF 20%, #CF1512 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                & > p{
                    font-size: 1.1rem;
                    color: black;
                }
            }
        }

        & > .middle{
            display: flex;
            height: 20vh;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px;
             
            & > h2{
                font-weight: 900;
                font-size: 3rem;
                background: linear-gradient(to right, #121FCF 20%, #CF1512 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            & > h4{
                text-align: center;
                font-weight: 700;
            }
           
        }

        & > .bottom{
            display: flex;
            flex-direction: row;

            & > .right{
                display: flex;
                justify-content: right;
                width: 25%;

                & > img {
                    height: 100vh;
                }
            }

           & > .left{
            display: flex;
            width: 75%;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            gap: 1.5rem;

                & > .holder{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    width: 10rem;
                    height: 50vh;
                    gap: 1rem;
                    box-shadow: 1px 1px 15px rgb(231, 229, 229), -1px -1px 15px rgb(231, 229, 229);
                    border-radius: 20px;
                    background: linear-gradient(225deg, #ce9494, #f5afaf);
                    transition-duration: 0.1s;

                    &:hover{
                        width: 15rem;
                        justify-content: center;

                        & > img{
                            height: 10vh;
                            margin-top: 0;
                        }

                        & > p{
                            padding: 20px;
                            visibility: visible;
                        }
                    }

                    & > img{
                        display: flex;
                        height: 7vh;
                        margin-top: 7rem;
                    }

                    & > p{
                        visibility: hidden;

                        & > b{
                            visibility: visible;
                        }
                    }

                }

            }
        }  
    }
}

@keyframes float {
    0%{

    }   
    50%{
        transform: translateY(-20px);
    } 
}

.section8{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
    background: linear-gradient(225deg, #ce9494, #f5afaf);

    & > .holder{
        display: flex;
        width: 70%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60vh;
        border-radius: 30px;
        gap: 2rem;
        background: linear-gradient(225deg, #e6e6e6, #ffffff);

        & > .left{
            display: flex;
            width: 40%;

            & > img{
                height: 60vh;
                width: 100%;
                border-radius: 30px 0px  0px 30px;
            }
        }

        & > .right{
            display: flex;
            width: 60%;
            flex-direction: column;

            & > h3{
                font-size: 3rem;
                font-weight: 900;
            }
        }
    }
}

.section9{
    display: flex;
    height: 140vh;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Wireless_Charging_img.webp);
    background-size: cover;

    & > .holder{
        display: flex;
        flex-direction: column;
        height: 120vh;
        width: 50%;
        justify-content: space-evenly;
        padding: 30px;
        border-radius: 20px;
        color: whitesmoke;
    
       & > .container-left{
        display: flex;
        flex-direction: column;  
        box-shadow: 1px 1px 15px rgb(231, 229, 229), -1px -1px 15px rgb(231, 229, 229);
        padding: 20px;
        cursor: pointer;
        border-radius: 20px;

            &:hover{
                transform: scale(1.05);
            }

            & > p {
                color: rgb(212, 211, 211);
                font-weight: 600;
            }
            & > h1{
                font-weight: 900;
            }
       }

       & > .container-right{
        display: flex;
        align-items: end;
        flex-direction: column;
        padding: 20px;
        box-shadow: 1px 1px 15px rgb(231, 229, 229), -1px -1px 15px rgb(231, 229, 229);
        cursor: pointer;
        border-radius: 20px;

            &:hover{
                transform: scale(1.05);
            }

            & > p {
                color: rgb(212, 211, 211);
                font-weight: 600;
            }

            & > h1{
                font-weight: 900;
            }
        }
    }
}
